<a href="https://colab.research.google.com/github/DivyaLakshmi003/ML-tutorial/blob/main/Complete_Pandas_Tutorial_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas Library:

Useful for Data Processing & Analysis

Pandas Data Frame:

Pandas DataFrame is two-dimensional tabular data structure with labeled axes (rows and columns)

In [12]:
# importing the pandas library
import pandas as pd

Creating a Pandas DataFrame

In [18]:
# importing the california house price data
data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
print(type(raw_df))
#data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
#target = raw_df.values[1::2, 2]

<class 'pandas.core.frame.DataFrame'>

In [15]:
print(raw_df)

             0      1      2    3      4      5     6       7    8      9   \
0       0.00632  18.00   2.31  0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1     396.90000   4.98  24.00  NaN    NaN    NaN   NaN     NaN  NaN    NaN
2       0.02731   0.00   7.07  0.0  0.469  6.421  78.9  4.9671  2.0  242.0
3     396.90000   9.14  21.60  NaN    NaN    NaN   NaN     NaN  NaN    NaN
4       0.02729   0.00   7.07  0.0  0.469  7.185  61.1  4.9671  2.0  242.0
...         ...    ...    ...  ...    ...    ...   ...     ...  ...    ...
1007  396.90000   5.64  23.90  NaN    NaN    NaN   NaN     NaN  NaN    NaN
1008    0.10959   0.00  11.93  0.0  0.573  6.794  89.3  2.3889  1.0  273.0
1009  393.45000   6.48  22.00  NaN    NaN    NaN   NaN     NaN  NaN    NaN
1010    0.04741   0.00  11.93  0.0  0.573  6.030  80.8  2.5050  1.0  273.0
1011  396.90000   7.88  11.90  NaN    NaN    NaN   NaN     NaN  NaN    NaN

        10
0     15.3
1      NaN
2     17.8
3      NaN
4     17.8
...    ...
1007   NaN
1008  21.0
1009   NaN
1010  21.0
1011   NaN

[1012 rows x 11 columns]