<a href="https://colab.research.google.com/github/DivyaLakshmi003/ML-tutorial/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in Python:
Immutable Objects

1.   Immutable Objects
2.   Mutable Objects


Mutable Objects

Immutable Objects:
1.  int
2.  float
3.  string
4.  bool
5.  tuple

Mutable Objects:
1.  List
2.  Set
3.  Disctionary

List

In [1]:
# list should be included in the square brackets
mList = [ 1, 2, 3, 4, 5]
print(mList)
type(mList)

[1, 2, 3, 4, 5]

list

In [2]:
# lists can have mutliple data types
mlist = [ 2, 3, 1.5, 'English', True]
print(mlist)

[2, 3, 1.5, 'English', True]

In [3]:
# lists are Mutable
mlist.append(6)
print(mlist)

[2, 3, 1.5, 'English', True, 6]

In [4]:
# print elements of a list using their index
print(mlist[0])
print(mlist[3])

2
English

In [5]:
# list allows duplicate values
list1 = [1, 2, 3, 2, 4, 5, 2, 6]
print(list1)

[1, 2, 3, 2, 4, 5, 2, 6]

In [6]:
print(len(list1))

8

In [7]:
# initializing as an empty list
list2 = []
print(list2)

[]

In [8]:
# add value to empty list using append function
list2.append(55)
print(list2)

[55]

In [9]:
# delete an item in list
list_1 = [ 2, 3, 1.5, 'English', True]
print(list_1)

del list_1[1]
print(list_1)

[2, 3, 1.5, 'English', True]
[2, 1.5, 'English', True]

In [10]:
# join or contatenation of two lists
list3 = [ 1, 2, 3, 4, 5]
list4 = [ 6, 7, 8, 9, 10]

list5 = list3 + list4
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [11]:
tuple1 = (2, 3, 4, 5, 6)
print(tuple1)
type(tuple1)

(2, 3, 4, 5, 6)

tuple

In [12]:
# tuples allows multiple data types
tuple2 = (2, 4.5, "Machine Learning", True, 7, 8)
print(tuple2)
type(tuple2)

(2, 4.5, 'Machine Learning', True, 7, 8)

tuple

In [20]:
# converting a list to tuple
mList1 = [1, 2, 3, 4, 5]
print(mList1)
type(mList1)

[1, 2, 3, 4, 5]

list

In [21]:
tuple_1 = tuple(mList1)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

Tuples are immutable -> unchangable

for example : tuple_1.append(6) will throw an error

In [22]:
tuple_1.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
print(len(tuple_1))

5

Set

In [24]:
# set --> Curly brackets
mSet = {1, 2, 3, 4, 5, 6}
print(mSet)
type(mSet)

{1, 2, 3, 4, 5, 6}

set

In [25]:
# set does not support indexing
print(mSet[0])

TypeError: 'set' object is not subscriptable

In [26]:
# convert a list to a set
list_5 = [3, 4, 5, 6, 7]
print(list_5)

x = set(list_5)
print(x)
type(x)

[3, 4, 5, 6, 7]
{3, 4, 5, 6, 7}

set

In [28]:
# set does not allow duplicate values
set2 = { 1, 2, 3, 4, 3, 4, 5, 6}
print(set2)

{1, 2, 3, 4, 5, 6}

Dictionary

Key-Value Pair

In [29]:
mDictionary = {'name': 'Dav', 'age': 30, 'country': 'India'}
print(mDictionary)
type(mDictionary)

{'name': 'Dav', 'age': 30, 'country': 'India'}

dict

In [30]:
print(mDictionary['name'])
print(mDictionary['age'])
print(mDictionary['country'])

Dav
30
India

In [32]:
# Dictionary does not allow duplicated values
dictionary2 = {'name': 'Dav', 'age': 30, 'country': 'India', 'name': 'Dav', 'age': 30}
print(dictionary2)

{'name': 'Dav', 'age': 30, 'country': 'India'}