<a href="https://colab.research.google.com/github/DivyaLakshmi003/ML-tutorial/blob/main/Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python:

1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operator

1. Arithmetic Operators

In [1]:
num1 = 20
num2 = 10

# addition
sum = num1 + num2
print('sum = ', sum)

# substraction
diff = num1 - num2
print('difference = ', diff)

# multiplication
pro = num1 * num2
print('product = ', pro)

# division
quo = num1 / num2
print('quotient = ', quo)

# modulus
mod = num1 % num2
print('modulus = ', mod)

# exponent
expo = num1 ** num2
print('exponent = ', expo)

sum =  30
difference =  10
product =  200
quotient =  2.0
modulus =  0
exponent =  10240000000000

2. Assignment Operators
+=, -=, *=, /=, **=, %=

In [2]:
a = 5
print(a)

5

In [6]:
a = 5
a += 5 # a = a + 5
print(a)

10

In [7]:
b = 5
b -= 2 # b = b - 2
print(b)

3

3. Comparison Operators

In [8]:
a = 5
b = 10

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

4. Logical Operator

and , or , not

In [10]:
a = 10

print(a > 20 and a > 5)
print(a > 20 or a > 5)
print(not(a > 20 and a > 5))

False
True
True

5. Identity Operator:
is , is not

In [11]:
x = 5
y = 5

print(x is y)

True

In [12]:
x = 5
y = 10

print(x is y)

False

In [13]:
x = 5
y = 5

print(x is not y)

False

In [15]:
x = 5
y = 10

print(x is not y)

True

6. Membership Operator:
in , not in

In [16]:
a = 6
b = 10

c = [1, 2, 3, 4, 5, 6]
print(a in c)
print(b in c)

True
False

In [18]:
a = 6
b = 10

c = [1, 2, 3, 4, 5, 6]
print(a not in c)
print(b not in c)

False
True