<a href="https://colab.research.google.com/github/DivyaLakshmi003/ML-tutorial/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Programming Languages used for Machine Learning:**



1.   Python
2.   R

Print Function

In [5]:
print("Machine Learning Tutorial")

Machine Learning Tutorial

In [6]:
print("Machine Learning" + " Projects !!")

Machine Learning Projects !!

In [3]:
print(8)

8

In [4]:
print(8+4)

12

Basic Data Types:

1.   integer
2.   floatint point
3.   string
4.   complex
5.   boolean

In [7]:
type(8)

int

In [30]:
# complex numbers
c = 1 + 3j
print(c)
type(c)

(1+3j)

complex

Constants & Variables:

In [29]:
type("stringtocheck")

str

In [12]:
super_hero = "Iron Man"
print(super_hero)

Iron Man

In [13]:
super_hero = "Caption America"
print(super_hero)

Caption America

In [15]:
hero1, hero2, hero3 = "Iron Man", "Caption America", "Bat Man"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Caption America
Bat Man

In [8]:
type(5.3)

float

In [17]:
x = y = z = 56
print(x)
print(y)
print(z)

56
56
56

Input Function:

In [21]:
num1 = input("Enter 1st number: ")
num2 = input("Enter 2nd number: ")

sum = num1 + num2
print(sum)
type(sum)

Enter 1st number: 11
Enter 2nd number: 23
1123

str

In [22]:
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))

sum = num1 + num2
print(sum)
type(sum)

Enter 1st number: 11
Enter 2nd number: 22
33

int

Changing the data type in python

In [23]:
num = 6
type(num)

int

In [31]:
# int to float
num = 6
num = float(num)
type(num)

float

In [32]:
# float to int
x = 5.66
print(x)
type(x)
y = int(x)
type(y)
print(y)

5.66
5

In [33]:
# Boolean
a = True
type(a)
print(a)

True

In [34]:
b = False
type(b)
print(b)

False

In [35]:
a = 7 < 3
print(a)
type(a)

False

bool

In [36]:
a = 7 > 3
print(a)
type(a)

True

bool

In [37]:
print("Hello"*5)

HelloHelloHelloHelloHello

In [38]:
mString = "Programming"

In [40]:
print(mString[1:6]) # values from index 1 to 6-1 will be sliced

rogra

In [41]:
# steps
print(mString[0:10:2])

Pormi